# Import potrzebnych bibliotek

In [1]:
import pandas as pd

/home/hyperscypion/.local/lib/python3.8/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

# Wczytanie danych i wypisanie 5 pierwszych rzędów

In [4]:
df = pd.read_csv('test.csv')
df.head()

      imie    nazwisko data_urodzenia
0  Jadwiga     Bilecka     01.01.1978
1    Rafal       Bobek     11.04.1978
2   Robert  Bobekowski     20.07.1978
3    Rafal  Bobikowski     28.10.1978
4    Rafal      Brobek      5.02.1979

### Sprawdzenie czy w danych znajdują się wartości null -> Znajdują się rzędy, w których nie ma, np. wartości name

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imie            108 non-null    object
 1   nazwisko        108 non-null    object
 2   data_urodzenia  108 non-null    object
dtypes: object(3)
memory usage: 2.7+ KB

# Wypisanie osób, które urodziły się po 1999-12-31

In [26]:
df.data_urodzenia[df.data_urodzenia > '31.12.1999'].count()

19

# Wszystkie imiona damskie

In [14]:
set(df.imie[df.imie.str.endswith('a')])

{'Barbara',
 'Elwira',
 'Ewa',
 'Jadwiga',
 'Jolanta',
 'Kalina',
 'Katarzyna',
 'Krystyna',
 'Liliana',
 'Pelagia'}